// -------- colors --------

$clr-green: #72BD3B;

// -------- mixins ----------

@mixin grid($gap, $i) {
    display: grid;
    grid-gap: $gap;
    grid-template-columns: repeat($i, minmax(0px, 1fr));
}

