@use 'base';

@keyframes cart_show {
    from {
        transform: scale(.95);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes show_burgerMenu {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes show_burgerMenu_head {
    from {
        transform: translateY(-30px);
    }
    to {
        transform: translateY(0px);
    }
}

@keyframes show_burgerMenu_grid {
    from {
        transform: translateY(-50px);
    }
    to {
        transform: translateY(0px);
    }
}

// --------------- header

.header {
    height: 100px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #72BD3B;
    z-index: 900;
    & > .inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }
    &__logo {
        height: 100%;
        & > img {
            height: 100%;
        }
    }
    &__nav {
        display: flex;
        align-items: center;
        justify-content: end;
        & > a {
            display: block;
            text-transform: uppercase;
            font-size: 16px;
            font-weight: 600;
            padding: {
                left: 20px;
                right: 20px;
                top: 10px;
                bottom: 10px;
            };
            cursor: pointer;
        }
        & > button {
            display: none;
            justify-content: center;
            align-items: center;
            padding: 20px;
            cursor: pointer;
        }
    }
}

// --------------- banner

.banner {
    position: relative;
    // height: 547px;
    padding-top: 68px;
    padding-bottom: 141px;
    // & > .inner {

    // }
    &__left {
        position: relative;
        z-index: 5;
        width: 100%;
        & > h2 {
            font-family: unbound;
            font-size: 84px;
            font-weight: bold;
            text-transform: uppercase;
            color: #fff;
        }
        & > span {
            font-size: 24px;
            font-weight: bold;
            text-transform: uppercase;
        }
        & > p {
            width: 617px;
            font-weight: bold;
            font-size: 18px;
        }
        & > div {
            width: 84px;
            height: 3px;
            background-color: #00FF00;
            margin-top: 8px;
            margin-bottom: 8px;
        }
    }
    &__right {
        position: absolute;
        top: 0;
        right: 104px;
        width: 60%;
        z-index: 2;
        bottom: -97px;
        display: flex;
        justify-content: end;
        & > img {
            height: 100%;
        }
    }
    &__bg {
        position: absolute;
        z-index: 1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        overflow: hidden;
        & > img {
            width: 100%;
            position: relative;
            z-index: 1;
        }
        & > div {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 2;
            background: linear-gradient(to bottom, rgba(114, 189, 59, 1), rgba(114, 189, 59, .8));
        }
    }
}

// --------------- autopark

.autopark {
    padding-top: 60px;
    padding-bottom: 60px;
    & h2 {
        font-size: 24px;
        font-weight: bold;
        font-family: Unbound;
        color: base.$clr-green;
    }
    &__nav {
        margin-top: 25px;
        display: flex;
        gap: 20px;
        margin-bottom: 50px;
        & > button {
            background: none;
            font-size: 18px;
            font-weight: bold;
            color: #fff;
            border-bottom: 3px solid transparent;
            transition: .2s;
            cursor: pointer;
            &:hover {
                border-color: base.$clr-green;
            }
            &._active {
                border-color: base.$clr-green;
                pointer-events: none;
            }
        }
    }
    &__grid {
        @include base.grid(25px, 3);
        display: none;
        &_active {
            display: grid;
        }
    }
    &__block {
        position: relative;
        height: 263px;
        display: flex;
        flex-direction: column;
        justify-content: end;
        // overflow: hidden;
        border-radius: 10px;
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.3);
        cursor: pointer;
        & * {
            cursor: pointer;
        }
        &:hover {
            & img {
                // transform: scale(1.03);
            }
            & button {
                background-color: base.$clr-green;
            }
        }
        &:hover &__bg {
            // top: -5px;
            // bottom: -5px;
            // right: -5px;
            // left: -5px;
            transform: scale(1.05);
        }
        &:active &__bg{
            transform: scale(1);
        }
        &__bg {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            z-index: 1;
            overflow: hidden;
            border-radius: 10px;
            transition: .2s;
            & > img {
                position: relative;
                width: 100%;
                z-index: 1;
                // transition: .2s;
            }
            & > div {
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                z-index: 2;
                background-color: rgba(0, 0, 0, .2);
            }
        }
        &__left {
        }
        &__right {
            display: flex;
            align-items: center;
            justify-content: end;
        }
        &__info {
            position: relative;
            z-index: 2;
            background-color: rgba(0, 0, 0, 0.8);
            display: flex;
            justify-content: space-between;
            padding: 10px;
            border-radius: 10px;
        }
        &__price {
            position: absolute;
            z-index: 2;
            top: 5px;
            left: 5px;
            background-color: rgba(0, 0, 0, 0.8);
            padding: {
                top: 5px;
                bottom: 5px;
                left: 7px;
                right: 7px;
            };
            border-radius: 5px;
            font-size: 14px;
            font-weight: 800;
        }
        &__title {
            font-size: 12px;
            font-weight: bold;
        }
        &__type {
            font-size: 18px;
            font-weight: bold;
        }
        &__prop {
            font-size: 10px;
            font-weight: 400;
        }
        & button {
            padding: 5px;
            border: 2px solid base.$clr-green;
            border-radius: 5px;
            cursor: pointer;
            transition: .2s;
            font-weight: bold;
            font-size: 11px;
            &:hover {
                background-color: base.$clr-green;
            }
        }
    }
}

// --------------- equipment

.equipment {
    // padding-top: 60px;
    padding-bottom: 60px;
    & h2 {
        font-size: 24px;
        font-weight: bold;
        font-family: Unbound;
        color: base.$clr-green;
        margin-bottom: 50px;
    }
    &__grid {
        @include base.grid(34px, 4);
        display: none;
        &_active {
            display: grid;
        }
    }
    &__block {
        cursor: pointer;
        & * {
            cursor: pointer;
        }
        &__img {
            border: 3px solid base.$clr-green;
            padding: {
                top: 14px;
                bottom: 14px;
            };
            border-radius: 10px;
            background: linear-gradient(to bottom, #72BD3B, #34571B);
            margin-bottom: 15px;
            height: 180px;
            transition: .15s;
            & > img {
                
            }
        }
        &__title {
            text-align: center;
            font-family: Unbound;
            color: base.$clr-green;
            font-size: 18px;
            font-weight: bold;
        }
        &__price {
            text-align: center;
            font-size: 12px;
            text-transform: uppercase;
            font-weight: 500;
        }
        &:hover &__img {
            transform: scale(1.03);
        }
    }
}

// --------------- carousel

.carousel {
    height: 633px;
    position: relative;
    background: linear-gradient(to bottom, rgba(114, 189, 59, 1), rgba(114, 189, 59, .8));
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    & > .inner {
        position: relative;
        z-index: 2;
        height: 100%;
    }
    &__bg {
        position: absolute;
        top: 0;
        bottom: 0;
        right: -20px;
        left: -20px;
        z-index: 1;
        // display: flex;
        // flex-direction: column;
        // align-items: center;
        // justify-content: space-between;
        & > img {
            position: absolute;
            width: 100%;
            &:first-child {
                top: -25%;
            }
            &:last-child {
                bottom: -25%;
            }
        }
    }
    &__player {
        height: 100%;
        // width: 100%;
        &__top {
            height: calc(100% - 38px);
            display: flex;
            align-items: center;
            margin-bottom: 20px;
        }
        &__bottom {
            height: 18px;
        }
        &__arrow {
            width: 50px;
            height: 50px;
            padding: 10px;
            transition: .2s;
            cursor: pointer;
            border-radius: 10px;
            &:hover {
                background-color: rgba(255, 255, 255, .1);
                box-shadow: 0 0 10px -2px rgba(0, 0, 0, .1);
            }
            &:active {
                transform: scale(.9);
            }
            & > img {
                width: 100%;
            }
            &_left {
                & > img {
                    transform: rotate(180deg);
                }
            }
            &_right {

            }
        }
        &__container {
            height: 100%;
            width: calc(100% - 100px);
            &__cart {
                height: 100%;
                width: 100%;
                align-items: center;
                justify-content: center;
                display: none;
                animation: cart_show 0.2s ease-in-out 1;
                & > img {
                    // height: 100%;
                    max-height: 100%;
                    max-width: 100%;
                    border-radius: 10px;
                    box-shadow: 0 5px 30px 0px rgba(0, 0, 0, .3);
                }
                &_active {
                    display: flex;
                }
            }
        }
        &__points {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0px;
            &__point {
                width: 18px;
                height: 18px;
                cursor: pointer;
                &:hover div{
                    background-color: rgba(255, 255, 255, .8);
                    transform: scale(1.5);
                }
                & > div {
                    background-color: rgba(255, 255, 255, .4);
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    transition: .15s;
                }
                &_active div{
                    background-color: rgba(255, 255, 255, 1);
                }
                &_active {
                    pointer-events: none;
                }
            }
        }
    }
}

// --------------- info

.info {
    padding-top: 44px;
    & > .inner {

    }
    &__grid {
        display: flex;
        gap: 20px;
        justify-content: center;
        &__block {
            display: flex;
            align-items: center;
            flex-direction: column;
            &__icon {
                margin-bottom: 18px;
                height: 22px;
            }
            &__value {
                margin-bottom: 4px;
                font-weight: 700;
                font-size: 24px;
                text-align: center;
                font-family: unbound;
                color: base.$clr-green;
            }
            &__title {
                font-size: 16px;
                text-align: center;
                font-weight: 600;
            }
            &__text {   
                font-size: 12px;
                margin-top: 15px;
                text-align: center;
                font-weight: 600;
            }
        }
    }
}

// --------------- footer

.footer {
    background-color: #242424;
    padding: {
        top: 50px;
        bottom: 50px;
    };
    margin-top: 50px;
    & h3 {
        margin-bottom: 20px;
        font-size: 16px;
        font-family: unbound;
        font-weight: bold;
    }
    & > .inner {
        display: flex;
        justify-content: space-between;
        gap: 50px;
    }
    // &__left {

    // }
    &__right {
        &__text {
            color: #BDBDBD;
            font-size: 14px;
        }
    }
    &__points {
        &__point {
            display: flex;
            align-items: start;
            gap: 8px;
            margin-bottom: 10px;
            &__icon {
                height: 16px;
                padding-top: 3px;
                & > img {
                    height: 100%;
                }
            }
            &__text {
                color: #BDBDBD;
                font-size: 14px;
            }
        }
    }
}

// --------------- burgerMenu

.burgerMenu {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(36, 36, 36, .2);
    backdrop-filter: blur(10px);
    z-index: 999;
    display: none;
    animation: show_burgerMenu .2s ease-in-out 1;
    &__header {
        height: 70px;
        background-color: rgb(36, 36, 36);
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 0 15px 0px rgba(0, 0, 0, .4);
        animation: show_burgerMenu_head .2s ease-in-out 1;
        & > div {
            font-size: 20px;
            font-family: Unbound;
            font-weight: bold;
        }   
        & > button {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 20px;
        }
    }
    &__container {
        background-color: rgb(36, 36, 36);
        display: flex;
        flex-direction: column;
        padding-bottom: 10px;
        padding-top: 10px;
        animation: show_burgerMenu_grid .3s ease-in-out 1;
        & > a {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: {
                top: 15px;
                bottom: 15px;
            };
            font-size: 14px;
            font-weight: bold;
            &:last-child {

            }
        }
    }
    &_active {
        display: block;
    }
}